@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

html, body{
    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*font-family: 'Trebuchet MS', Tahoma, Verdana, sans-serif;*/
    /*font-family: 'Source Sans Pro', 'Arial', 'Helvetica', 'Tahoma', 'Verdana', sans-serif;*/
    font-family: 'Segoe UI', 'Ubuntu', 'Helvetica Neue', 'Oxygen', 'Roboto', 'Open Sans', 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-color: #3d3d3d;
    color: #ffffff;
    font-size: 1rem;
    padding-bottom: 50px; /* adjust the value as needed */
}

img {
    max-width: 270px;
    max-height: 270px;
}

#logo {
    width: 50px;
    height: 50px;
    transition: all 0.2s ease-in-out;
}

.box {
    padding: 8px 16px;
    background-color: #000000;
}

.ops {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-right: 5px;
}

.i {
    font-style: italic;
}

.c {
    color: #E33C3A;
}

.r {
    border-radius: 30%;
}

.bg {
    background-color: #1b1b1b;
}

.input {
    /* width: unset; */
    padding: 0.375rem 0.75rem;
    font-size: 1.15rem;
}

.btn-sm {
    border: none !important;
}

.input:focus, .btn:focus, .btn-sm:focus {
    outline: none;
    box-shadow: none;
}

a {
    text-decoration: unset;
}

.btn, select, .pointer {
    font-size: 1.15rem;
    cursor: pointer;
}

#usymbol, .a {
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#username, .b {
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.form-select {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

.f {
    border: none;
    border-radius: 15px;
}

.tb-div {
    overflow-x: auto;
    border-radius: 15px;
}

.htable {
    width: 100%;
    border-collapse: collapse;
}

.htable td, .htable th {
    padding: 6px 13px;
}

.htable tr:nth-child(even) {
    background-color: #bebebe;
}

.htable tr:hover {
    background-color: #bebebe;
}

@media (max-width: 1120px) { 
    .mbody {
        flex-wrap: wrap;
    }
    .card {
        width: initial!important;
    }
    #htable td, #htable th {
        padding: 2px 8px;
    }
}

@media (max-width: 990px) { 
    .card {
        width: 100%!important;
    }
}

p.fee {
    color: #8b8b8b;
}

p.liquidity {
    color: #c7c7c7;
}

span.fee {
    color: #ffffff;
}

span.details {
    color: #ebebeb;
    font-weight: 400;
}

span.token {
    color: #ffffff;
    font-weight: 400;
}

.link-lightv2 {
    color: #ffffff;
}

.link-lightv2:hover {
    color: #8b8b8b;
}

.alignclass {
    text-align: center;
    align-items: center;
}

.font-family-size-large {
    font-size: 22px;
}

.font-family-size-medium-large {
    font-size: 20px;
}

.font-family-size-medium {
    font-size: 16px;
}

.font-family-size-small-medium {
    font-size: 14px;
}

.font-family-size-large-color {
    color: #ffffff;
}

.font-family-size-small-medium-color {
    color: #ffffff;
}

.font-family-size-medium-color {
    color: #b9b9b9;
}

.font-heading-color {
    color: #e43131;
}

.medium-text-info {
    color: #ffd95b;
}

.medium-text-info-changed {
    color: #ffffff;
}

.span-font-color {
    color: #c9c9c9;
}

.span-font-color-one {
    color: #ffffff;
}

svg path {
    fill: #8b8b8b;
}

svg.bi-arrow-left-right path {
    fill: #ffffff; /* or any other color you want */
}

.link-lightv2 svg.bi-box-arrow-up-right path {
    fill: #ffffff;
    transition: all 0.2s ease-in-out;
}

.link-lightv2:hover svg.bi-box-arrow-up-right path {
    fill: #8b8b8b;
}

.link-lightv2:hover svg.bi-box-arrow-up-right path {
    fill: #8b8b8b; /* or any other color you want */
}

.fee-info {
    color: #8b8b8b;
}

#status.fee-info {
    color: #ffffff !important;
}

.btn:focus {
    outline: none !important;
}

.btn-load {
    background-color: #009ee7;
    border-color: #009ee7;
    transition: background-color 0.5s ease-in-out;
}

.btn-load:hover {
    background-color: #e43131;
    border-color: #e43131;
    color: #ffffff;
}

.option-value-color {
    color: #8b8b8b;
}

.box-auth {
    padding: 8px 16px;  
    background-color: #009ee7;  
    color: #ffffff;
}

.btn-swap:disabled {
    background-color: #4bc6ff;
    border-color: #4bc6ff;
}

.btn-swap {
    background-color: #009ee7;
    border-color: #009ee7;
    transition: background-color 0.5s ease-in-out;
    height: 35px !important;
}

.btn-swap:hover {
    background-color: #e43131;
    border-color: #e43131;
    color: #ffffff;
}

.account-info {
    color: #ffffff;
}

.btn-refresh {
    background-color: #009ee7;
    border-color: #009ee7;
    transition: background-color 0.5s ease-in-out;
}

.btn-refresh:hover {
    background-color: #e43131;
    border-color: #e43131;
    color: #ffffff;
}

.req-info {
    color: #c7c7c7;
}

.link-info {
    color: #8b8b8b;
}

.link-info:hover {
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.cls-1 {
    fill: #8b8b8b;
}

.cls-1:hover {
    fill: #ffffff;
    transition: all 0.2s ease-in-out;
}

.discord-color:hover path {
    fill: #ffffff;
    transition: all 0.2s ease-in-out;
}

.fee-data {
    color: #ffd95b;
}

link[rel=stylesheet] {
    transition: all 4.0s ease-out;
}

svg.svg-dark-color path {
    fill: #ffd95b;
    transition: fill 0.3s ease;
}

svg.svg-dark-color:hover path {
    fill: #ffd95b;
    transition: fill 0.3s ease;
}

svg.svg-coffee-color path {
    fill: #8b8b8b;
    transition: fill 0.3s ease;
}

svg.svg-coffee-color:hover path {
    fill: #ffffff;
    transition: fill 0.3s ease;
}

.d-flex.align-items-center.justify-content-center {
    justify-content: space-between;
}

#dark {
    width: 25px;
    height: 25px;
}

#coffee {
    width: 25px;
    height: 25px;
}

#changeThemeBlack {
    background-color: #1e1e1e;
    margin-right: 5px;
}

#changeThemeBrown {
  margin-right: 20px;
  background-color: #1e1e1e;
}

.fixed {
    position: fixed;
    bottom: 0;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #1e1e1e;
    text-align: center;
    line-height: 30px;
    z-index: 999;
    opacity: 0.8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.developed-by-container,
.popup-by-container-hive,
.popup-by-container-engine,
.theme-buttons-container {
    flex-basis: 100%;
}

.popup-by-container-hive > div,
.popup-by-container-engine > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.popup-by-container-hive button,
.popup-by-container-engine button {
    margin-left: 5px;
}

.theme-buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    flex-basis: auto;
}

.theme-buttons-container button {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-left: 5px;
}

.theme-buttons-container svg {
    width: 100%;
    height: 100%;
}

.themes-color {
    margin-right: 10px;
    align-items: center;
    color: #c5c5c5;
}

@media (max-width: 768px) {
    .bottom-bar {
        flex-direction: column;
        align-items: center;
    }
    .popup-by-container-hive,
    .popup-by-container-engine {
        flex-basis: 100%;
        text-align: center;
    }
    .developed-by-container {
        text-align: center;
        flex-basis: 100%;
    }
    .theme-buttons-container {
        text-align: center;
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .theme-buttons-container p {
        margin-right: 10px;
    }
}

@media (min-width: 768px) {
    .bottom-bar {
      flex-wrap: nowrap;
    }
    .popup-by-container-hive > div {
      justify-content: flex-end;
      margin-right: 10px; /* Add a small margin to the left */
    }
    .popup-by-container-hive {
      flex-basis: 50%;
      text-align: right;
    }
    .popup-by-container-engine > div {
      justify-content: flex-start;
      margin-left: 10px; /* Add a small margin to the left */
    }
    .popup-by-container-engine {
      flex-basis: 50%;
      text-align: left;
    }
    .developed-by-container {
      text-align: left;
      flex-basis: 50%;
      padding-left: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}
  
.developed-by-container p {
    margin: 0;
    color: #c5c5c5;
}  

.alih-color {
    color: #c5c5c5;
    transition: all 1.0s ease-out;
}

.theguruasia-color {
    color: #c5c5c5;
    transition: all 1.0s ease-out;
}

.alih-color:hover {
    color: #009ee7;
    transition: all 1.0s ease-out;
}

.theguruasia-color:hover {
    color: #009ee7;
    transition: all 1.0s ease-out;
}

.popup-link {
    background: none;
    border: none;
    color: #ffd95b;
    text-decoration: underline;
    cursor: pointer;
    transition: all 1.0s ease-out;
}

#popup-container-hive {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c5c5c5;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the contents vertically */
    width: 80vw; /* Adjust the width as needed */
    max-width: 400px; /* Set a max-width to prevent it from growing too wide */
    opacity: 0.9;
}
  
#popup-container-hive #close-button-hive {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}
  
#popup-container-hive #close-button-hive svg {
    height: 100%;
    width: 100%;
}
  
#close-button-hive {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    border: none;
    transition: fill 0.3s ease;
}

#close-button-hive:hover .close-button-color path {
    fill: #000000;
    transition: fill 0.3s ease;
}
  
.popup-container-text {
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-size: 20px;
}
  
.popup-by-container-text {
    color: #c5c5c5;
}

#api-list-hive {
    width: 100%; /* Make the table fill the available space */
}

.header-status-hive {
    text-align: center; /* Center the "Status" column text */
}
  
#popup-container-engine {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c5c5c5;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the contents vertically */
    width: 80vw; /* Adjust the width as needed */
    max-width: 400px; /* Set a max-width to prevent it from growing too wide */
    opacity: 0.9;
}
  
#popup-container-engine #close-button-engine {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}
  
#popup-container-engine #close-button-engine svg {
    height: 100%;
    width: 100%;
}
  
#close-button-engine {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    border: none;  
    transition: fill 0.3s ease;  
}

#close-button-engine:hover .close-button-color path {
    fill: #000000;
    transition: fill 0.3s ease;
}
  
#api-list-engine {
    width: 100%; /* Make the table fill the available space */
}

.header-status-engine {
    text-align: center; /* Center the "Status" column text */
} 

.working {
    color: #01ac01;
}
  
.fail {
    color: #ff0000;
}
  
/* hover styles */
tr:hover .working {
    color: #ffffff;
    background-color: #01ac01;
}
  
tr:hover .fail {
    color: #ffffff;
    background-color: #ff0000;
}
  
/* new styles for node URLs */
.node-url {
    color: #0077ff;
    cursor: pointer;
}
  
tr:hover .node-url {
    color: #ffffff;
    background-color: #0077ff;
}
  
.header-node-url-hive {
    color: #222222; /* red font color */
}
  
.header-status-hive {
    color: #222222; /* green font color */
}

.header-node-url-engine {
    color: #222222; /* red font color */
}
  
.header-status-engine {
    color: #222222; /* green font color */
}

#popup-button-hive:hover {
    color: #00e065;
    transition: fill 0.3s ease;
}

#popup-button-engine:hover {
    color: #00e065;
    transition: fill 0.3s ease;
}

.column-one-scale {
    width: 30%;
}

.column-two-scale {
    width: 40%;
}

.column-three-scale {
    width: 30%;
}

/* Add things from here */

.load-change .input-group-text,
.load-change .input {
    font-size: 14px;
}

.input-div-change {
    width: 100%;
}

.input-group-append {
    display: flex;
}

.select-change {
    border: none !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    min-width: fit-content !important;
    flex: 1 !important;
}

.input-change {
    border: none !important;
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    width: auto !important;
    font-size: 16px !important;
}

.load-change {    
    width: 100%;
}

.font-bold {
    font-weight: 400 !important;
}

.custom-box {
    height: 30px; /* Adjust the height value as desired */
    background-color: #5e5e5e;
    padding: 4px;
    border-radius: 25px !important;
}
  
.custom-box .form-check-label {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.custom-box .ops {
    height: 20px;
    width: auto; /* Adjust the width value as desired */
}

.label-scale {
    padding-right: 10px;
}

.btn-scale {
    width: 100% !important;
}

.text-success {
    color: #ffd95b !important;
}

.heading-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-top: 15px;
    border-top: 1px solid rgb(160, 160, 160);
}

.slippage-scale {
    margin-top: 100px; 
    margin-bottom: 10px;
}

.r-button-flex {
    display: flex;
    flex-wrap: wrap;
}
  
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
  
label {
    display: inline-block;
    margin-right: 10px;
}
  
.radio-label {
    display: inline-block;
    margin-right: 20px;
    color: rgb(255, 255, 255);
}
  
.radio-label input[type="radio"]:checked ~ span {
    color: #ffd900;
} 
  
.button-group, .r-button-flex {
    background-color: #131212;
    border: none;
    border-radius: 5px;
    padding: 2px;
    font-size: 15px;
    justify-content: center;
}

.receive-group {
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(160, 160, 160);
    color: #ffffff;
}

.popup-msg-bar {
    position: fixed;
    top: 50%; /* Place the top of the box at the middle of the page */
    left: 50%; /* Place the left side of the box at the middle of the page */
    transform: translate(-50%, -50%); /* Center the box horizontally and vertically */
    width: 80%; /* Adjust the width of the box as needed */
    max-width: 500px; /* Set a maximum width for the box if desired */
    padding: 20px; /* Add some padding for better appearance */
    background-color: #ffffff;
    text-align: justify;
    line-height: 1.5; /* Adjust the line height for better readability */
    z-index: 999;
    opacity: 0.95;
    color: #000000;
    font-size: 16px;
    border-radius: 10px; /* Add rounded corners for a message box look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

.popup-msg-bar-important {
    font-size: 20px !important;
    font-weight: bold;
    text-align: center !important;
    color: #ff0000 !important;
}

.center-close-button {
    display: flex;
    justify-content: center;
    margin-top: 15px; /* Adjust the margin to position the button below the message text */
}

/* Close button styles */
.popup-msg-close-button {
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold;
    background-color: red;
    border: none;
    padding: 8px 16px; /* Adjust the padding as needed */
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.contact-msg-link {
    color: #8b8b8b;
    transition: all 0.2s ease-in-out;
}

.contact-msg-link:hover {
    color: #000000; /* Change the font color on hover */
    transition: all 0.2s ease-in-out;
}

.discord-msg-color:hover path {
    fill: #000000; /* Change the SVG icon color on hover */
    transition: all 0.2s ease-in-out;
}

.receive-group {
    display: flex;
    align-items: center;
}

.secure-fee-info {
    display: flex;
    align-items: center;
}

/* Progress Bar Here */
.progress-container {
    position: relative;
    margin-top: 20px; /* Add a margin-top of 50px to create a gap */
    width: 100%; /* Set the width to 100% */
}

.progress {
    padding: 0; /* Remove the default padding */
}

.progress-bar-font {
    font-size: 10px;
    color:#000000;
}

.hive-line-point {
    position: absolute;
    top: -20px;
    font-size: 10px;
    color: #ffffff;
}

.shive-line-point {
    position: absolute;
    bottom: 0px;
    font-size: 10px;
    color: #ffffff;
}

/* Line pointers */
.hive-line-pointer {
    position: absolute;
    content: "";
    border-left: 1px solid #818181;
    height: 15px;
}

.shive-line-pointer {
    position: absolute;
    content: "";
    border-left: 1px solid #818181;
    height: 15px;
}

.progress-bar-success {
    background-color: #00e065;
}

.progress-bar-warning {
    background-color: #ffe600;
}

.progress-bar-danger {
    background-color: #ff2600;
}